<body class="bg-orange-50 font-sans leading-normal tracking-normal">
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white shadow-lg rounded-lg p-10 max-w-lg w-full">
            <!-- Título -->
            <div class="text-center mb-8">
                <h1 class="text-4xl font-semibold text-gray-800">Registrarse</h1>
            </div>

            <!-- Formulario de registro -->
            <form [formGroup]="formReg" (ngSubmit)="onSubmit()" class="space-y-6">
                
                <!-- Campo Email -->
                <div class="space-y-2">
                    <input 
                        type="email" 
                        class="w-full px-6 py-3 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-neutral-700 text-lg"
                        formControlName="email" 
                        placeholder="Email"
                    />
                </div>

                <!-- Campo Password -->
                <div class="space-y-2 ">
                    <input 
                        type="password" 
                        class="w-full px-6 py-3 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-neutral-700 text-lg"
                        formControlName="password" 
                        placeholder="Password"
                    />
                </div>

                <!-- Botón Registrarse -->
                <div>
                    <button 
                        type="submit" 
                        class="w-full bg-neutral-700 text-white font-semibold py-4 rounded-md hover:bg-neutral-600 transition duration-200 cursor-pointer text-lg"
                    >
                        Registrarse
                    </button>
                </div>
            </form>

        </div>
    </div>
</body>