<body>
    <div class="form-container">
        <!-- Contenido del contenedor izquierdo -->
        <br>
        <h2 style="text-align: center;">Crear Evento</h2>

        <div class="input-container">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <select id="selectedCliente" formControlName="selectedCliente" (change)="onClienteChange($event)"
                    class="form-select">
                    <option value="" disabled selected>Seleccione un cliente</option>
                    <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                        {{cliente.nombres}}
                    </option>
                </select>

                <!-- Campos ocultos para ID y nombre -->
                <input type="hidden" formControlName="idCliente">
                <input type="hidden" formControlName="nombresCliente">
                <br><br>

                <input type="text" id="nombreEvento" formControlName="nombreEvento"
                    placeholder="Ingrese el Nombre del Evento">
                <br><br>

                <input type="text" id="dirEvento" formControlName="dirEvento"
                    placeholder="Ingrese la Dirección del Evento">
                <br><br>

                <input type="date" id="fechaYHora" formControlName="fechaYHora"
                    placeholder="Ingrese la Fecha y la Hora">
                <br><br>

                <select id="selectedCliente" formControlName="selectedPaquete" (change)="onPaqueteChange($event)"
                    class="form-select">
                    <option value="" disabled selected>Seleccione un paquete</option>
                    <option *ngFor="let paquete of paquetes" [ngValue]="paquete">
                        {{paquete.nomPaquete}}
                    </option>
                </select>

                <!-- Campos ocultos para ID -->
                <input type="hidden" formControlName="idPaquete">
                <input type="hidden" formControlName="nombrePaquete">
                <br><br>

                <input type="text" id="monto" formControlName="monto" placeholder="Ingrese el Monto">
                <br><br>

                <input type="submit" class="btnAceptar" id="btnAceptar" value="Aceptar">
            </form>
        </div>

    </div>

    <div class="table-eventosData-container">
        <table class="table-eventosData">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Evento</th>
                    <th>Dirección</th>
                    <th>Fecha y Hora</th>
                    <th>Nombre Paquete</th>
                    <th>Monto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventosData">
                    <td>{{evento.nombresCliente}}</td>
                    <td>{{evento.nombreEvento}}</td>
                    <td>{{evento.dirEvento}}</td>
                    <td>{{evento.fechaYHora}}</td>
                    <td>{{evento.nombrePaquete}}</td>
                    <td>{{evento.monto}}</td>
                    <td><button class="btn btn-outline-danger" (click)="onClickDelete(evento)">Eliminar evento</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>